.login{
    background-color: #0F7BFA;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    background-color: #fff;
    padding: 0 2%;
    margin: 1rem auto;
    padding: 1rem 2%;
    border-radius: .5rem;
}
.title{
    font-size: 2.5rem;
    text-align: center;
}
.title span{
    color: rgb(48, 86, 199);
}
.subtitle{
    margin: 0 auto;
    font-size: 1.5rem;
}
.icon{
    color: rgb(36, 36, 185);
    font-size: 3rem;
    display: flex;
    margin: 0 auto;
    border: 2px solid blue;
    border-radius: 50%;
}
.label{
    background-color: none;
    width: 100%;
    padding: .5rem;
    margin: .5rem auto;
}
.input{
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    background-color: #f9f9f9;
    transition: .3s ease;
}
.input:focus{
    background-color: #0f7dfa65;
}
.btn{
    background-color: #151717;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1rem auto;
    cursor: pointer;
    transition: .5s ease;
}
.btn:hover{
    background-color: #363636;
}
.enter{
    display: flex;
    float: right;
    margin: .2rem 2rem .5rem auto;
}