.div{
    /*
    background-image: url('./Assets/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    */
    background-color: #151717;
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.img{
    width: 15%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 1rem;
    display: flex;
    margin: 0 auto;
}
.title{
    font-size: 2.5rem;
    margin: 1rem auto;
    color: #fff;
    text-align: center;
}
.title span{
    color: #0F7BFA;
}
.subtitle{
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.subtitle span{
    color: #fa9c0f;
}
.linkcont{
    width: 30%;
    height: 4rem;
    margin: 0 auto;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-around;
    background-color: none;
}
.email{
    margin: auto;
    padding: .5rem 1rem;
    width: 45%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #fa9c0f;
    border: none;
    border-radius: .5rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: .3s ease;
}.email:hover{
    border: 1px solid #fff;
    background-color: #e6a84c;
}
.github{
    margin: auto;
    padding: .5rem 1rem;
    width: 45%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #000;
    border: none;
    border-radius: .5rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: .3s ease;
}.github:hover{
    background-color: #151717;
    border: 1px solid #ffff;
}