.navbar{
    height: 5rem;
    background-color: #0F7BFA;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    
}
.logo{
    background-color: none;
    padding: .5rem;
    border-radius: .5rem;
    transition: .3s ease;
    width: auto;
    max-width: 30%;
    margin: -.5rem auto auto 0;
}
.linklogo{
    color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    transition: .3s ease;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: none;
    padding: 1rem ;
    border: none;
    outline: none;
    border-radius: .2rem;
}
.linklogo span{
    color: #fff;
    text-decoration: none;
    font-style: italic;
    margin-left: -1rem;
    font-family: 'Cedarville Cursive', cursive;
}
.linklogo:hover{
    border-bottom: 1px solid #fff;
}

.logoimg{
    width: 25%;
}
.name{
    font-size: 1.5rem;
}
.linksContainer{
    background-color: none;
    border-radius: .5rem;
    width: 50%;
    height: auto;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
    background-color: none;
    margin: 0 auto;
}
.link{
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .3s ease;
    padding: .5rem 1rem;
    margin: auto 1rem;
    text-align: center;
    text-decoration: none;
    background-color: none;
    border: none;
    outline: none;
    border-radius: .5rem;
    width: 25%;
}
.link:hover{
    background: #ffffff5a;
    border-radius: .5rem;
}
.login{
    background-color: #fff;
    padding: .5rem 1rem;
    margin: auto 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    color: #000;
    width: 5rem;
    font-size: 1.1rem;
    transition: .3s ease;
    font-weight: 500;
}
.create{
    background-color: transparent;
    border: 2px solid #fff;
    padding: .5rem 1rem;
    margin: auto 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: .5rem;
    color: #fff;
    width: 15rem;
    font-size: 1.1rem;
    transition: .3s ease;
    font-weight: 500;
}
.create:hover{
    background-color: #fff;
    color: royalblue;
}
.logout{
    border: 2px solid #fff;
    background-color: transparent;
    color: #ffff;
    border-radius: .5rem;
    padding: .5rem 2rem;
    outline: none;
    
}